.containerHome {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
}
.conteinerSidebar {
  background-color: #fe0058;
  display: flex;
  height: 100%;
  width: 20%;
  flex-direction: column;
  position: absolute;
  border-right: 3px solid white;
  justify-content: space-between;
}
main {
  display: flex;
  align-self: flex-start;
  height: 100%;
  width: 80%;
  margin-left: 20%;
}

.containerLogoSidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 100%;
  margin-top: 5%;
}

.logoSidebar {
  height: 100%;
}

.containerOptions {
  display: flex;
  flex-direction: column;
  justify-content: flex-star  t;
  align-items: flex-start;
  text-align: justify;
  height: 30%;
  width: 100%;
  margin-top: 5%;
}

.optionNAv {
  width: 100%;
  text-decoration: none;
  margin-top: 5%;
}

.optionNAv:hover{
  width: 98%;
  border-radius: 5px;
  background-color: black;
  border-left: 5px solid white;
}

.options{
  font-size: large;
  text-align: center;
  color: white;
  font-size: 25px;
  margin: 0;
}

.resMenu {
  display: none;
}

.containerFooter{
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contInfo{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.whatsLogo{
  margin-right: 10px;
  height: 25px;
}

@media (max-width: 700px) {
  .containerHome {
    flex-direction: column;
  }
  main {
    width: 100%;
    margin-left: 0;
  }
  .closeSidebar {
    display: flex;
    width: 100%;
    flex-direction: column;
    top: 8%;
    height: 92%;
    animation: slide 0.5s backwards 1;
    position: absolute;
    background-color: #fe0058;
    justify-content: space-between;
    z-index: 1;

  }

  .conteinerSidebar {
    display: none;
  }

  .resMenu {
    position: fixed;
    display: flex;
    background-color: #fe0058;
    height: 8%;
    width: 100%;
    align-items: center;
  }

  .menuButton{
    width: 100%;
    height: 100%;
  }

  .btnOpenMenu {
    height: 80%;
    width: 11%;
    border: 0;
    margin-left: 10px;
  }
}
